<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalendarz 2025 - Lista Dni</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Kalendarz na 2025 rok</h1>
    <div class="calendar" id="calendar">
        <!-- Miesiące i dni zostaną wygenerowane tutaj przez JavaScript -->
    </div>
    <div class="controls">
        <button id="saveButton">Zapisz zmiany do pliku</button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
